<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

<!-- Footer 05.24 -->
    <!-- inject:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="/assets/vendors/aos/dist/aos.js/aos.js"></script>
    <!-- End plugin js for this page -->

    <script src="/assets/js/jquery.easeScroll.js"></script>
    <!-- Custom js for this page-->
    <script src="/assets/js/demo.js"></script>
    <!-- End custom js for this page-->
</body>
</th:block>
</html>