<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:fragment="paggingFragment">

    <div class="board-page">

        <div class="board-pagination">


            <a th:if="${ (resultVo.curPage > 1) }" class="page-arrow pre">
                <i class="fa-solid fa-angle-left"></i>
            </a>

            <th:block th:each="i : ${#numbers.sequence(1, 10)}">

                <a th:if="${((resultVo.totalPage % 10) >= i) && (resultVo.curPage % 10) == i}" class="active page-number " th:href="@{/__${pagename}__?page=__${i}__}" th:text="${i}"></a>
                <a th:if="${((resultVo.totalPage % 10) >= i) && (resultVo.curPage % 10) != i}" class="page-number " th:href="@{/__${pagename}__?page=__${i}__}" th:text="${i}"></a>

            </th:block>

            <!-- 현재 페이지보다 클 경우 -->
            <a th:if="${ (resultVo.curPage / 10) < (resultVo.totalPage/10) }" class="page-arrow nex">
                <i class="fa-solid fa-angle-right"></i>
            </a>

        </div>

    </div>

</th:block>
</html>
