<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment" ></th:block>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <ul class="board-content">

                    <li th:each="item: ${resultVo.data}" class="board-list">
                        <div class="row">

                            <div class="col-9">
                                <div class="board-title">
                                    <a th:href="@{/book/__${item.isbn13}__}">
                                        <div class="title" th:utext="${item.title}"></div>
                                    </a>
                                </div>
                                <div class="board-writer">
                                    <span class="author" th:text="${item.author}"></span>
                                    <span class="publisher" th:text="${item.publisher}"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <img style="height: 100px; width:100px;" th:src="${item.image}" >
                            </div>
                        </div>

                    </li>

                </ul>

            </div>
        </div>

        <div th:with="pagename='book'">
            <th:block th:replace="/common/listpaging :: paggingFragment"></th:block>
        </div>

        <div class="row">
            <div class="offset-md-12">
                <div class="btn btn-primary" id="btn-write">등록</div>
                <div class="btn btn-primary" id="btn-searchBook">검색</div>
            </div>
        </div>

        <div id="modal" class=""></div>

        <script type="text/javascript">
            (function($){


                $('#btn-write').click(function(){
                    location.href = '/book/write';
                });


                $("#btn-searchBook").click(function(){
                    var $modal = $("#modal");

                    $modal.dialog({
                        title: "검색",
                        autoOpen: false,
                        height: 500,
                        width: 400,
                        modal: true,
                        buttons: {
                            "Close": function () {
                                $modal.dialog("close");
                            }
                        },
                    });
                    $modal.load('/book/search', function(res, status, xhr) {

                    });
                    //$('.modal-body', $modal).load('/book/search?keyword=미움받을');
                    $modal.dialog('open');



                });





            })(jQuery);
        </script>
    </div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>