<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment" ></th:block>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                    <th>도서명</th>
                    <th>저자</th>
                    <th>출판사</th>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${resultVo}" class="news-link">
                        <td>
                            <a th:href="@{/book/__${item.bookId}__}">
                                <p th:utext="${item.title}"></p>
                            </a>
                        </td>
                        <td th:text="${item.author}"></td>
                        <td th:text="${item.publisher}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-12">
                <div class="btn btn-primary" id="btn-write">등록</div>
                <div class="btn btn-primary" id="btn-searchBook">검색</div>
            </div>
        </div>

        <div id="modal" class=""></div>

        <script type="text/javascript">
            (function($){


                $('#btn-write').click(function(){
                    location.href = '/book/write';
                });


                $("#btn-searchBook").click(function(){
                    var $modal = $("#modal");

                    $modal.dialog({
                        title: "검색",
                        autoOpen: false,
                        height: 800,
                        width: 1200,
                        modal: true,
                        buttons: {
                            "Close": function () {
                                $modal.dialog("close");
                            }
                        },
                    });
                    $modal.load('/book/search', function(res, status, xhr) {

                    });
                    //$('.modal-body', $modal).load('/book/search?keyword=미움받을');
                    $modal.dialog('open');



                });





            })(jQuery);
        </script>
    </div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>