<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<style>

</style>
<div class="container">
    <div id="vueapp">
        <div class="row">
            <div class="offset-md-12">

                <div th:object="${book}" class="news">
                    <input type="hidden" id="bookId" th:value="*{bookId}" />
                    <input type="hidden" id="isbn13" th:value="*{isbn13}" />

                    <div class="box-article-head">

                        <div class="row">
                            <div class="col-md-12">
                                <label class="book-author" th:text="*{author}"></label>
                                <label class="book-publisher" th:text="*{publisher}"></label>
                                <label class="book-publisher">현재 읽고 있는 사람(12명)</label>
                            </div>
                        </div>
                    </div>

                    <div>

                        <div class="row">
                            <div class="col-md-4 book-image-body">
                                <span class="book-image-area">
                                    <img th:src="*{image}" class="book-image">
                                </span>
                            </div>

                            <div class="col-md-8">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="countdown">
                                            <ul>
                                                <!-- 애니메이션으로 변경 -->
                                                <li style="display: none;"><span id="hours">0</span>시간</li>
                                                <li style="display: none;"><span id="minutes">0</span>분</li>
                                                <li style="display: none;"><span id="seconds">0</span>초</li>
                                                <img src="/image/icon/icons8-open-book.gif">
                                                <img src="/image/icon/icons8-bookmark-64.png">
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <input name="endPage" placeholder="0 읽기전, 999999 다 읽음, 읽은 페이지를 입력하세요">
                                        <div class="btn btn-primary btnReadStart">읽기시작</div>
                                        <div id="btnReadStop" class="btn btn-primary btnReadStop" @click="fnStop()">읽기종료</div>
                                        <div class="btn btn-primary btnReadFinish" @click="fnReadFinish()">책 다읽음</div>
                                        <div class="btn btn-primary">공유하기</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 버튼 -->
                    <div class="row" style="padding-top: 10px;">
                        <div class="offset-md-12" style="text-align: right;">
                            <div class="btn btn-primary news-btn-link" data-href="/book" >목록</div>
                            <div class="btn btn-primary" id="btn-question">질문하기</div>
                            <div class="btn btn-primary" id="btn-answer">질문보기</div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div>
        <!-- 질문 -->
        <th:block th:replace="/book/fragment/question :: questingFragment"></th:block>
    </div>

  <script type="text/javascript">
    (function($){
        var bookId = $('#bookId').val();
        var bookIsbn13 = $('#bookIsbn13').val();
        var second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24,
            interval1 = '';

        var $hours = $('#hours'),
            $minutes = $('#minutes'),
            $seconds = $('#seconds');

        var data = {

            timer: '',
            startTime: '',
            distance: '',
            days: '',
            hours: '',
            minutes: '',
            seconds: 0,
            reading: 'N',
            endPage: '',

            bookId:'',
            isbn13:'',
            items: [],
        };

        $('div.btnReadStart').click(function(e){
            // 이미 시작되었다면
            if(data.interval1) return;

            let today = new Date().getTime();
            data.reading = 'Y';
            data.startTime = today;

            data.interval1 = setInterval(function() {

                const now = new Date().getTime();
                let distance = now - today;
                data.distance = distance;
                data.days= Math.floor(distance / (day)),
                // this.hours = Math.floor((distance % (day)) / (hour)), 24시간으로 나누지 않음.
                data.hours = Math.floor((distance) / (hour)),
                data.minutes = Math.floor((distance % (hour)) / (minute)),
                data.seconds = Math.floor((distance % (minute)) / second);

                fnDisplay();
                //
            }.bind(this), 1000)
        })

        // 읽기 종료. 종료 페이지 확인 후 다시 호출
        $('.btnReadStop').click(function(){
            clearInterval(data.interval1);

            data.endPage = $('input[name=endPage]').val();

            data.reading = 'N';
            data.interval1 = null;
            data.beforePage = data.endPage;
            fnDisplay();
            fnSearchQuestion();
        });

        $('.btnReadFinish').click(function(){
            clearInterval(data.interval1);

            data.endPage = 999999;

            fnDisplay();
            fnSearchQuestion();
        });

        function fnDisplay(){
            $hours.html(data.hours);
            $minutes.html(data.minutes);
            $seconds.html(data.seconds);
        }

        function fnSearchQuestion(){

            $.ajax({
                url: '/book/'+ bookId + '/question',
                type: 'GET',
                data: {
                    page: data.endPage,
                    'key': 'aaa'
                }
            }).done(function(fragment){
                $('#questionTable').replaceWith(fragment);
            });
        }

        $app.initForm();

    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>