<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<style>

</style>
<div class="container">
    <div class="row">
    <div class="offset-md-12">

        <div th:object="${book}" class="news">
            <input type="hidden" id="bookId" th:value="*{bookId}" />

            <div class="box-article-head">
                <div class="row box-view-title-area">
                    <div class="offset-md-12">
                        <a th:href="@{__*{link}__}" target="_blank"><p class="book-title" th:utext="*{title}"></p></a>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-12">
                        <label class="book-author" th:text="*{author}"></label>
                        <label class="book-publisher" th:text="*{publisher}"></label>
                    </div>
                </div>
            </div>

            <div>

                <div class="row">
                    <div class="offset-md-12">
                        <span class="book-image-area">
                            <img th:src="*{image}" class="book-image">
                        </span>

                        <span class="book-star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </span>

                    </div>


                </div>

                <div class="row">
                    <div class="offset-md-12 book-description">
                        <p th:utext="*{description}"></p>
                    </div>
                </div>

            </div>

            <!-- 질문 -->
            <div>
                <div class="row">
                    <div class="offset-md-12 wf-comment">
                        <textarea name="question" class="comment" id="book-question" placeholder="질문을 입력해 주세요."></textarea>
                        <div class="btn btn-primary" id="btn-add-question">등록</div>
                    </div>
                </div>


                <!-- 질문 View -->
                <div class="row">
                    <div class="offset-md-12 wf-comment box-comment">
                        <div id="questionTable" class="box-comment-list">
                            <ul>
                                <li th:each="item : ${questions}" >
                                    <span class="box-comment-meta btn-question-like" th:data="${item.bookQuestionId}">
                                        <i class="fa-regular fa-thumbs-up" ></i>

                                        <span class="nickname">NickName</span>
                                    </span>
                                    <p th:utext="${item.question}"></p>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- //질문 View -->
            </div>


        </div>

    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
        <div class="btn btn-primary news-btn-link" data-href="/book" >목록</div>
        <div class="btn btn-primary" id="btn-question">질문</div>
        <div class="btn btn-primary" id="btn-answer">답변보기</div>
        <div class="btn btn-primary" id="btn-answer">출력하기</div>
        <div class="btn btn-primary" id="btn-delete">삭제하기</div>
        <div class="btn btn-primary">읽기시작</div>
    </div>
  </div>

  <script type="text/javascript">
    (function($){

        $app.initForm();

        $('#btn-delete').click(function(){

          if(confirm('[[#{label.del.message}]]')) {
            let id = $('#bookId').val();

            $.ajax({
              url: '/book/' + id,
              method: 'delete',
              success: function (e) {
                // 삭제/성공
                window.location.href = '/book';
              }

            });
          }
        });


      $('#btn-modify').click(function(){

        if(confirm('[[#{label.modify.message}]]')) {
          let id = $('#newsId').val();

          window.location.href ="/book/edit/" + id;
        }
      });

        $('#btn-add-question').click(function(){

            var bookId = $('#bookId').val();
            $.ajax({
                url: '/book/'+ bookId + '/question',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify ({
                    question: $('#book-question').val(),
                }),
            }).done(function(fragment){
                $('#questionTable').replaceWith(fragment);
                $('#book-question').val('');
            });

        });


        $('#questionTable').on('click', '.btn-question-like', function(e){

            var bookId = $('#bookId').val();
            var e = $(e.currentTarget);
            var questionId = e.attr('data');

            $.ajax({
                url: '/book/'+ bookId + '/like/' + questionId,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify ({
                    question: $('#book-question').val(),
                }),
            }).done(function(fragment){
                $('#questionTable').replaceWith(fragment);
            });
        });


      function init(){

      }

      init();
    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>