<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment" ></th:block>
<style>

</style>
<div class="container">

  <div class="row">
    <div class="offset-md-12">
      <form id="f" method="post" action="/book/write">

        <div class="row">
          <div class="offset-md-12">

            <label for="frm-name">제목</label>
            <input type="text" class="form-control" id="frm-name" name="title" placeholder="제목을 입력하세요">

          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>저자</label>
            <input type="email" class="form-control" name="author" placeholder="저자를 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>링크</label>
            <input type="email" class="form-control" name="link" placeholder="링크를 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>image</label>
            <input type="email" class="form-control" name="image" placeholder="image를 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>price</label>
            <input type="number" class="form-control" name="price" placeholder="price 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>discount</label>
            <input type="number" class="form-control" name="discount" placeholder="discount 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>publisher</label>
            <input type="text" class="form-control" name="publisher" placeholder="publisher 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>pubdate</label>
            <input type="text" class="form-control" name="pubdate" placeholder="pubdate 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>isbn</label>
            <input type="text" class="form-control" name="isbn" placeholder="isbn 입력하세요">
          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label>description</label>
            <textarea class="form-control" name="description" placeholder="description 입력하세요"></textarea>
          </div>
        </div>



      </form>
    </div>
  </div>

  <div class="row new-btn-group">
    <div class="offset-md-12">
      <div class="btn btn-primary" id="btn-write">저장</div>
      <a href="/news">
        <div class="btn btn-primary" >목록</div>
      </a>

    </div>
  </div>

  <script type="text/javascript">
    (function($){

      $('#btn-write').click(function(){
        $('#f').submit();
      });

    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>