<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<style>

</style>
<div class="container">

  <div class="row">
    <div class="offset-md-12">
      <form id="f" method="post" action="/news/write" th:object="${news}">

        <input type="hidden" name="id" class="form-control" th:field="*{id}">

        <div class="row">
          <div class="offset-md-12">
            <input type="text" name="title" class="form-control" placeholder="제목" th:field="*{title}">
          </div>
        </div>
        <div class="row news_editor">
          <div class="offset-md-12">
            <textarea id="editor" name="content" th:field="*{content}"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-12">
            <input type="text" name="tag" class="form-control" placeholder="태그" th:field="*{tag}">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
      <div class="btn btn-primary" id="btn-write">저장</div>
      <a href="/news">
        <div class="btn btn-primary" >목록</div>
      </a>
    </div>
  </div>

  <script type="text/javascript">
    (function($){

      $('#btn-write').click(function(){
        $('#f').submit();
      });


      ClassicEditor
        .create( document.querySelector( '#editor' ), {
        } )
        .then( editor => {
//          editor.ui.view.editable.element.style.height = '500px';
        })
        .catch( error => {
          console.log( error );
        } )
      ;




    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>