<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <th>제목</th>
                    <th>등록일</th>
                    <th>View</th>
                </thead>
                <tbody>
                <tr th:each="item: ${resultVo.data}" class="news-link">
                    <td>
                        <a th:href="@{/news/__${item.newsId}__}">
                            <span th:text="${item.title} == null? '<무제>': ${item.title}"></span>
                        </a>
                    </td>
                    <td>
                        <label th:text="${item.regDttm}" />
                    </td>
                    <td th:text="${item.viewCount}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:with="pagename='news'">
        <th:block th:replace="/common/listpaging :: paggingFragment"}></th:block>
    </div>

    <div class="row">
        <div class="offset-md-12">
            <div class="btn btn-primary" id="btn-write">글쓰기</div>
        </div>
    </div>

    <script type="text/javascript">
        (function(){

            $('#btn-write').click(function(){
               location.href = '/news/write';
            });



        })();
    </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>