
<div xmlns:th="http://www.thymeleaf.org">
<header th:include="/common/header.html" th:remove="tag"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <th>제목</th>
                </thead>
                <tbody>
                    <tr th:each="item: ${list}" class="news-link">
                        <td>
                            <a th:href="@{/news/__${item.id}__}">
                                <span th:text="${item.title}"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-12">
            <div class="btn btn-primary" id="btn-write">글쓰기</div>
        </div>
    </div>

    <script type="text/javascript">
        (function(){

            $('#btn-write').click(function(){
               location.href = '/news/write';
            });



        })();
    </script>
</div>



<footer th:include="/common/footer.html" th:remove="tag"></footer>
</div>