<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/newsheader :: headFragment"></th:block>

<style>

</style>
<div class="container">
    <div class="row">
    <div class="offset-md-12">

        <div th:object="${news}" class="news">
            <input type="hidden" id="newsId" th:value="*{newsId}" />

            <div class="news-article-head">
                <div class="row news-view-title-area">
                    <div class="offset-md-12">
                        <label class="news-view-title" th:text="*{title}"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-12 news-view-journallist">
                        <label th:each="item : ${news.newsJournallistRels}"
                               th:text="${item.nickname} + '기자'"></label>
                    </div>
                </div>
            </div>

            <!-- 본문 -->
            <div class="news-article-body">
                <div class="row">
                    <div class="offset-md-12">
                        <div th:utext="*{content}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-12">
                        <label th:text="*{tag}"></label>
                    </div>
                </div>

            </div>
            <!-- //본문 -->

        </div>

    </div>
  </div>


  <!-- 댓글 -->
  <div class="row">
    <div class="offset-md-12 wf-comment">
      <textarea name="comment" class="comment" id="news-comment" placeholder="댓글을 입력해 주세요."></textarea>
      <div class="btn btn-primary" id="btn-add-comment">등록</div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
        <div class="btn btn-primary news-btn-link" data-href="/news" >목록</div>
        <div class="btn btn-primary" id="btn-modify">수정</div>
        <div class="btn btn-primary" id="btn-delete">삭제</div>

    </div>
  </div>

  <script type="text/javascript">
    (function($){

        $news.initForm();

        $('#btn-delete').click(function(){

          if(confirm('[[#{label.del.message}]]')) {
            let id = $('#newsId').val();

            $.ajax({
              url: '/news/' + id,
              method: 'delete',
              success: function (e) {
                // 삭제/성공
                window.location.href = '/news';
              }

            });
          }
        });


      $('#btn-modify').click(function(){

        if(confirm('[[#{label.modify.message}]]')) {
          let id = $('#newsId').val();

          window.location.href ="/news/edit/" + id;
        }
      });

      $('#btn-add-comment').click(function(){

        var newsId = $('#newsId').val();
        $.ajax({
          url: '/api/news/comment/' + newsId,
          type: 'POST',
          data: {
            comment: $('#news-comment').val(),
          },
          success: function(e){
            console.log(e);
            // 새로고침
          }
        })
      })


      function init(){

        $.ajax({
          url: '/api/news/comments/' + $('#newsId').val()
        })
      }

      init();
    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>