<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<style>

</style>
<div class="container">

  <div class="row">
    <div class="offset-md-12">
      <form id="f" method="post" action="/news/write">


        <div class="row">
          <div class="offset-md-12">
            <label for="frm-title">제목</label>
            <input type="text" class="form-control" id="frm-title" name="title" aria-describedby="helpTitle" placeholder="제목을 입력하세요">
            <small id="helpTitle" class="form-text text-muted">기자 제목입니다.</small>

          </div>
        </div>

        <div class="row">
          <div class="offset-md-12">
            <label for="frm-journalist">기자</label>
            <select id="frm-journalist" name="journallist[]" class="form-control" >
              <option value="">기자 선택</option>
              <option th:each="item : ${journalist}"
                      th:value="${item.journalistId}"
                      th:text="${item.nickname}"></option>
            </select>
          </div>
        </div>

        <div class="row news_editor">
          <div class="offset-md-12">
            <label for="frm-content">기자</label>
            <!--
            <textarea id="frm-content" name="frm-content"></textarea>
            -->

            <div id="frm-content"></div>

          </div>
        </div>
        <div class="row">
          <div class="offset-md-12">
            <label for="frm-tag">태그</label>
            <input type="text" id="frm-tag" name="tag" class="form-control" aria-describedby="helpTag" placeholder="태그를 입력하세요">
            <small id="helpTag" class="form-text text-muted">기자 태그입니다.</small>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
      <div class="btn btn-primary" id="btn-write">저장</div>
      <div class="btn btn-primary news-btn-link" data-href="/news" >목록</div>

    </div>
  </div>

  <script type="text/javascript">
    (function($){

      $('#btn-write').click(function(){
        $('#f').submit();
      });


/*      ClassicEditor
        .create( document.querySelector( '#frm-content' ), {
        } )
        .then( editor => {
        })
        .catch( error => {
          console.log( error );
        } )
      ;*/

      const editor = new toastui.Editor({
        el: document.querySelector('#frm-content'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        hooks: {
          'addImageBlobHook': function(blob, callback){
            // blob 텍스트
            console.log(blob);

            // !!!!! 여기서 이미지를 받아와서 이미지 주소를 받아오고 (ajax 등으로)
            // callback의 인수로 넣으시면 됩니다.
            //callback("콜백으로 받아온 이미지 URL")
          }
        }
      });

      console.log('aaa');




    })(jQuery);
  </script>
</div>

<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>