<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment"></th:block>

<style>

</style>
<div class="container">

  <div class="row">
    <div class="offset-md-12">
      <form id="f" method="post" action="/news/write">


        <div class="row">
          <div class="offset-md-12">
            <label for="frm-title">제목</label>
            <input type="text" class="form-control" id="frm-title" name="title" aria-describedby="helpTitle" placeholder="제목을 입력하세요">
            <small id="helpTitle" class="form-text text-muted">기자 제목입니다.</small>

          </div>
        </div>


        <div class="row news_editor">
          <div class="offset-md-12">
            <label for="frm-content">기자</label>
            <textarea id="frm-content" name="content"></textarea>
          </div>
        </div>


      </form>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
      <div class="btn btn-primary" id="btn-write">저장</div>
      <div class="btn btn-primary news-btn-link" data-href="/news" >목록</div>

    </div>
  </div>

  <script type="text/javascript">
    (function($){

      $('#btn-write').click(function(){
        $('#f').submit();
      });


      ClassicEditor
        .create( document.querySelector( '#frm-content' ), {
        } )
        .then( editor => {
//          editor.ui.view.editable.element.style.height = '500px';
        })
        .catch( error => {
          console.log( error );
        } )
      ;




    })(jQuery);
  </script>
</div>

<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>