<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment" ></th:block>
<style>

</style>
<div class="container">



  <h1>지도만들기</h1>
  <div class="row">
    <div class="offset-md-12">
      <form id="f" method="post" action="/bookatlas/write">

        <div class="row">
          <div class="offset-md-12">

            <label for="frm-name">제목</label>
            <input type="text" class="form-control" id="frm-name" name="title" placeholder="보물지도 이름을 입력하세요">

          </div>
        </div>

        <div class="row">

          <div class="col-md-8">

            <div class="row">
              <div class="col-md-3">
                <div class="item">Book<span>Del</span></div>
              </div>
              <div class="col-md-3">
                <div class="item">Book1<span>Del</span></div>
              </div>
              <div class="col-md-3">
                <div class="item">Book2<span>Del</span></div>
              </div>
              <div class="col-md-3">
                <div class="item">Book3<span>Del</span></div>
              </div>
              <div class="col-md-3">
                <div class="item">Book4<span>Del</span></div>
              </div>
              <div class="col-md-3">
                <div class="item">Add</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div>


              <div style="height: 100%;">

                <div id="searchResult" style="overflow-y: auto; height: 100%">

                  <input v-model="searchKeyword" @keyup.enter="fnSearch" placeholder="Search">

                  <label @click="callFn">Click {{count}}</label>
                  <ul>
                    <li v-for="item in items">
                      <div>
                        <img v-bind:src="item.cover">
                        <span>{{item.title}}</span>
                      </div>
                    </li>
                  </ul>
                  <div id="searhBook">
                    {{message}}
                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>


      </form>
    </div>
  </div>

  <div class="row new-btn-group">
    <div class="offset-md-12">
      <div class="btn btn-primary" id="btn-write">저장</div>
      <a href="/news">
        <div class="btn btn-primary" >목록</div>
      </a>

    </div>
  </div>
  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          message: 'Hello Vue!',
          count: 0,
          searchKeyword: '',
          searchPage: 1,
          items: []
        }
      },
      methods: {
        callFn(){
          this.count++;
        },
        fnSearch(){

          axios.get('/api/book/search?keyword=' +  encodeURIComponent(this.searchKeyword) ). then (response => {
            console.log(response.data);
            var resultVo = response.data;

            console.log('-----------');
            console.log(resultVo.data.item);
            this.items = Array.from(resultVo.data.item);
            console.log('-----------222');
            console.log(this.items);
          })
          //
          // $.service.post(
          //   '/api/book/search?keyword=' + encodeURIComponent(this.searchKeyword) + '&start=' + this.searchPage,
          //   {},
          //   function(res) {
          //     console.log(res);
          //   }
          // )

        }
      }
    }).mount('#searchResult')
  </script>


  <script type="text/javascript">
    (function($){

      var bookList = [];

      function init(){

      }
      $('#btn-write').click(function(){


        // $('#f').submit();
      });

      $("#btn-searchBook").click(function(){
        var $modal = $("#modal");

        $modal.dialog({
          title: "검색",
          autoOpen: false,
          height: 800,
          width: 1200,
          modal: true,
          buttons: {
            "Close": function () {
              $modal.dialog("close");
            }
          },
        });
        $modal.load('/book/search', function(res, status, xhr) {

        });
        //$('.modal-body', $modal).load('/book/search?keyword=미움받을');
        $modal.dialog('open');



      });


      init();

    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>