<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/common/header :: headFragment" ></th:block>

<style>

</style>
<div class="container">
    <div class="row">
    <div class="offset-md-12">

        <div th:object="${journallist}" class="news">

            <input type="hidden" id="journalistId" th:value="*{journalistId}" />

            <div class="row">
                <div class="offset-md-12">
                    <label class="frm-label">이름</label>
                    <label class="frm-value" th:text="*{name}"></label>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-12">
                    <label class="frm-label">이메일</label>
                    <label class="frm-value" th:text="*{email}"></label>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-12">
                    <label class="frm-label">별명</label>
                    <label class="frm-value" th:text="*{nickname}"></label>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-12">
                    <label class="frm-label">소개 글</label>
                    <pre class="frm-value" th:text="*{desc}"/>
                </div>
            </div>

        </div>

    </div>
  </div>



  <div class="row">
    <div class="offset-md-12">

        <div class="btn btn-primary news-btn-link" data-href="/journallist">목록</div>
        <div class="btn btn-primary" id="btn-modify">수정</div>
        <div class="btn btn-primary" id="btn-delete">삭제</div>

    </div>
  </div>

  <script type="text/javascript">
    (function($){

        $news.initForm();

        $('#btn-delete').click(function(){

          if(confirm('[[#{label.del.message}]]')) {
            let id = $('#journalistId').val();

            $.ajax({
              url: '/journallist/' + id,
              method: 'delete',
              success: function (e) {
                // 삭제/성공
                window.location.href = '/news';
              }

            });
          }
        });


      $('#btn-modify').click(function(){

        if(confirm('[[#{label.modify.message}]]')) {
          let id = $('#journalistId').val();

          window.location.href ="/journallist/edit/" + id;
        }
      });

    })(jQuery);
  </script>
</div>


<th:block th:replace="/common/footer :: footerFragment"></th:block>
</html>