
.book-title {
    font-size: 35px;
    color: #222;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight: 500;
}

.book-author {
    font-size: 14px;
    color: #444;
}

.book-publisher {
    padding-left: 10px;
    font-size: 14px;
    color: #444;
}

.book-image-area {
    padding: 10px 0px 30px;
}
.book-image {
    width: 140px;
    min-height: 194px;
    text-align: center;
}

.book-description {
    padding: 2px 20px;
}

.btn-question-like {
    cursor: pointer;
}