
.book-title {
    font-size: 35px;
    color: #222;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight: 500;
}

.book-author {
    font-size: 14px;
    color: #444;
}

.book-publisher {
    padding-left: 10px;
    font-size: 14px;
    color: #444;
}

.book-image-area {
    padding: 10px 0px 30px;
}

.book-star {
    font-size: 25px;
    padding: 10px 10px;
}
.book-image {
    text-align: center;
}

.book-description {
    padding: 2px 20px;
}

.btn-question-like {
    cursor: pointer;
}

.book-thumbnail {
    width: 200px;
}

.book-icon {
    font-size: 30px;
    cursor: pointer;
}

div.bookatlas-book[data-read=Y]:after {
    position:absolute;
    right:30%;
    bottom:5%;
    content: attr(data-readdt);
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:#0dcaf0;
    text-align:center;
    min-width:2em;
    font-weight:bold;
}