/* Web Font Load */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Type Selector Reset */
body {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    line-height: 1.25;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
    margin: 0;
    padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
    overflow: visible;
    cursor: pointer;
}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
    -webkit-appearance: none;
}
input, select, textarea, button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    border-radius: 0;
}
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
ul li {
    list-style: none;
}
img, fieldset {
    border: none;
    vertical-align: top;
}
hr {
    display: none;
}