/* Web Font Load */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Type Selector Reset */
body {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    line-height: 1.25;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
    margin: 0;
    padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
    overflow: visible;
    cursor: pointer;
}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
    -webkit-appearance: none;
}
input, select, textarea, button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    border-radius: 0;
}
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
ul li {
    list-style: none;
}
img, fieldset {
    border: none;
    vertical-align: top;
}
hr {
    display: none;
}

a {
    text-decoration: none;
}


.box-article-head {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.box-view-title-area {
    display: table;
    height: 100px;
    padding: 10px 0 30px;
    letter-spacing: -1px;
}

/** Comment **/

.box-comment {
    margin: 0 auto;
    /*border-bottom: 1px solid #e6e6e6;*/
}

.box-comment-list {
    font-size: 16px;
    margin-bottom: 6px;
    overflow: hidden;
}

.box-comment-list ul li {
    padding: 30px 0 25px;
    border-top: 1px solid #e6e6e6;
    position: relative;
    min-height: 48px;
}

.box-comment-list ul li:first-child {
    border: none;
}

.box-comment-list ul li p {
    position:relative;
    margin: 29px 0 0 60px;
    font-size: 0.875em;
    line-height: 1.5714;
    color: #666;
}
.box-comment-meta {
 /*   position: absolute;*/
    overflow: hidden;
    top: 30px;
    height: 48px;
    left: 0;
    right: 0;
    padding: 4px 0 0 10px;
}

.box-comment-meta .nickname {
    float: left;
    font-size: 1em;
    line-height: 20px;
}

.box-comment-meta .date{
    float: left;
    margin-left: 10px;
    font-size: 0.75em;
    color: #999;
    line-height: 20px;
}

