
label.news-title {
    font-size: 35px;
    color: white;
}
div.news {

}

.new-btn-group {
    padding: 10px 0px;
}

.frm-label{

}

.frm-value{

}

.news-pagination {
    display: inline-block;
}

.news-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.news-pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.news-pagination a:hover:not(.active) {background-color: #ddd;}



/* News View */


.box-article-head .news-view-title {
    font-size: 37px;
    letter-spacing: -0.09em;
    color: #000;
    line-height: 1.2em;
    vertical-align: middle;
    display: table-cell;
    position: relative;
}

.box-article-head .news-view-journallist {
    height: 45px;
    position: absolute;
    left: 0;
    bottom: 0;
}


.news-article-body {
    font-size: 18px;
    line-height: 1.8;
    word-break: keep-all;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

div.news .articlebody .summary{
    position: relative;
    margin-bottom: 25px;
    padding-left: 20px;
    font-weight: bold;
}
div.news .articlebody .summary {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px 10px 4px;
    border: none;
    font-size: 12px;
    background-color: #f7f7f7;
    border-radius: 3px;
}

div.wf-comment {
    padding: 5px;
}

div.wf-comment textarea.comment {
    width: 100%;
    height: 76px;
    min-height: 38px;
    padding: 12px 8px;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    background: transparent;
    color: #444444;
}

